@import '../../assets/reset.scss';

body {
  background-image: url(../img/bg.jpg);
}

.test {
  margin-top: 200px;
  height: 100px;
  line-height: 40px;
  padding: 10px;
  text-align: center;
  color: #63de63;
  font-size: 15px;
  box-shadow: 0px 0px 5px #ccc;
  font-family: serif;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/texture.png);
}
